body {
    background-color: #ebe9e9;
    font-size: 24px;
    font-family: serif;
}

.round {
    border-radius: 50%;
    width: 300px;
    display: flex;
    margin-left: 50px;
}

.headline {
    font-size: 24px;
    text-indent: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 150px;
    font-size: 80px;
}

.flex-element {
    display: flex;
}

.flex-element-row {
    display: flex;
    flex-direction: row;
}

.flex-element-column {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.flex-element-column:nth-child(1) {
    margin-right: 200px;
}

.information {
    font-family: ‘Helvetica Neue’, sans-serif;
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}

.contacts {
    font-family: ‘Helvetica Neue’, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}